html,
body {
    height: 100%;
}
body {
    background-color: var(--body-bg-color);
    max-width: 900px;
    margin: auto;
}
#ba {
    min-height: 100%;
    background-color: var(--ba-bg-color);
    font-family: Consolas, monospace;
    font-size: 13px;
    position: relative;
    display: none;
}
#ba-controls {
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#ba-table {
    user-select: none;
    border-collapse: collapse;
    cursor: default;
    font-size: 13px;
}
#ba-table td {
    border: 1px solid var(--border-color);
    background-color: var(--cell-bg-color);
    padding: 2px 4px;
    text-transform: uppercase;
}
#ba-table td.hit {
    background-color: var(--text-color);
    border-color: var(--text-color);
    color: var(--text-bg-color);
}
#ba-table td.lone {
    color: var(--lone-color);
}
#ba-table td.time {
    color: var(--time-color);
}
#ba-table td.zero {
    color: var(--border-color);
}
#ba-table td.byte {
    cursor: pointer;
}
#ba-table td.selected {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    color: var(--text-bg-color) !important;
}
#ba-table td.byte:hover {
    background-color: var(--primary-light);
    border-color: var(--primary-light);
    color: var(--text-color);
}
#ba-table td.unreachable {
    background-color: var(--disabled-bg-color);
    border-color: var(--disabled-border-color);
    color: var(--disabled-color);
}
#ba-table tbody tr:first-child td {
    background-color: var(--text-bg-color);
    border-top: none;
    border-bottom: 1px solid var(--text-color);
}
#ba-table tbody tr td:first-child:not(.separator) {
    border-left: none;
    background-color: var(--text-bg-color);
    border-right: 1px solid var(--text-color);
}
#ba-table .separator {
    padding: 3px;
    border: none;
}
.ba-button {
    border: 1px solid var(--border-color);
    width: 100px;
    background-color: var(--button-bg-color);
    cursor: pointer;
}
.ba-button.selected {
    background-color: var(--primary-light);
    border-color: var(--primary);
}
#ba-start {
    margin-top: 10px;
}
#ba-start > input {
    width: 75px;
    border: 1px solid var(--button-border-color);
    border-right: none;
    text-transform: uppercase;
    font-family: Consolas, monospace;
    font-size: 13px;
}
#ba-start > button {
    border: 1px solid var(--button-border-color);
    background-color: var(--button-bg-color);
    cursor: pointer;
}
#timestamp {
    margin: 5px 0 10px 0;
}
#timestamp > span {
    text-transform: uppercase;
}
#ba-items {
    width: 240px;
}
#ba-items td:not(.item-name) {
    border: 1px solid transparent;
    cursor: pointer;
}
#ba-items td.item-name {
    text-align: right;
    vertical-align: bottom;
}
#ba-items td:not(.item-name):hover {
    border-color: var(--primary);
}
#ba-items td.selected {
    border-color: var(--primary);
    background-color: var(--primary-light);
}
#ba-info {
    margin-top: 10px;
}
#ba-address {
    color: var(--primary);
    background-color: var(--text-bg-color);
    border: 1px solid var(--border-color);
    border-bottom-color: var(--text-bg-color);
    padding: 0 5px;
}
#ba-description {
    background-color: var(--text-bg-color);
    padding: 5px;
    border: 1px solid var(--border-color);
}
#credit {
    padding: 8px 0;
    margin-top: auto;
    text-align: right;
}
#credit > a {
    color: var(--primary);
    text-decoration: none;
}
::selection {
    background-color: var(--primary);
    color: var(--text-bg-color);
}
:focus {
    outline-color: var(--primary);
}
