:root {
    --max-width: 900px;
}
.light {
    --body-bg-color: #d8d4dc;
    --ba-bg-color: #f5f5f5;
    --border-color: #ccc;
    --cell-bg-color: #efefef;
    --text-color: #000;
    --text-bg-color: #fff;
    --lone-color: #0ff;
    --time-color: #0f0;
    --primary: #ab00ff;
    --primary-light: #eabeff;
    --button-bg-color: #efefef;
    --button-border-color: #808080;
    --disabled-bg-color: #ddd;
    --disabled-border-color: #bbb;
    --disabled-color: #999;
}
